* {
  box-sizing: border-box;
  padding: 3px;
  font-family: Helvetica, Arial;
  /*
  border: 1px;
  border-style: solid;
  border-color: grey;
  */
}

nav {
  position: fixed;
  background-color: white;
  width: 98vw;
}

main {
  margin-top: 40px;
}

h1, h2 {
  font-family: Courier, Arial;
  background-color: black;
  color: white;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

a:visited {
  color: red;
}

a:active {
  color: limegreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  overflow: hidden;
}

ul li {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

ul li a {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

ul li a:focus {
  background-color: limegreen;
  color: black;
}

#portrait {
  max-height: 300px;
  width: auto;
}

#logo {
  float: left;
  max-height: 42px;
  width: auto;
}

.tec-icn {
  max-height: 80px;
  width: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /*
  width: 60vw;
  justify-self: center;
  */
  max-width: 60vw;
  margin: auto;
}

.flex-item {
  padding: 10px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.wrk-img {
  max-width: 300px;
  height: auto;
  border: 2px;
  border-style: solid;
  border-color: lightgrey;
}

.wrk-img:hover {
  border-color: black;
}

.wrk-img:active {
  border-color: limegreen;
}

.about-me-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.about-me-grid__item {
  justify-self: center;
}

@media all and (min-width: 700px) {
  .about-me-grid {
    grid-template-columns: 45vw 45vw;
    grid-gap: 50px;
  }

  .about-me-grid p {
    font-size: 18px;
  }
}

@media all and (min-width: 1000px) {
  .about-me-grid {
    grid-gap: 25px;
  }
}

.project-grid {
  display: grid;
  justify-self: center;
  justify-content: center;
}

.project-grid__item {
  justify-self: center;
}

@media all and (min-width: 700px) {
  .project-grid {
    grid-template-columns: 45vw 45vw;
  }
}

@media all and (min-width: 1000px) {
  .project-grid {
    grid-template-columns: 30vw 30vw 30vw;
  }
}